{% extends "UI/base.html" %} {% load static %}

{% block content %}

    <section id="market_list">  
        <div class="container">
                            <h3 class="section_title f-s-30 f-w-100 m-b-30">Stock market Companies</h3>

            <div class="row">
                
                <div class="col-md-6">
                     <table class="table table-hover table-bordered">

                            <tbody>
                                <tr class="negative">
                                    <td>NASDAK</td>
                                    <td><i class="fa fa-sort-down"></i> 234.23</td>
                                    <td class="in_percent">-0.34 %</td>

                                </tr>
                                <tr class="positive">
                                    <td>NASDAK</td>
                                    <td><i class="fa fa-sort-up"></i> 234.23</td>
                                    <td class="in_percent">-0.34 %</td>

                                </tr>
                                <tr class="negative">
                                    <td>NASDAK</td>
                                    <td><i class="fa fa-sort-down"></i> 234.23</td>
                                    <td class="in_percent">-0.34 %</td>

                                </tr>
                                <tr class="positive">
                                    <td>NASDAK</td>
                                    <td><i class="fa fa-sort-up"></i> 234.23</td>
                                    <td class="in_percent">-0.34 %</td>

                                </tr>
                                <tr class="positive">
                                    <td>NASDAK</td>
                                    <td><i class="fa fa-sort-up"></i> 234.23</td>
                                    <td class="in_percent">-0.34 %</td>

                                </tr>
                                <tr class="positive">
                                    <td>NASDAK</td>
                                    <td><i class="fa fa-sort-up"></i> 234.23</td>
                                    <td class="in_percent">-0.34 %</td>

                                </tr>
                                <tr class="negative">
                                    <td>NASDAK</td>
                                    <td><i class="fa fa-sort-down"></i> 234.23</td>
                                    <td class="in_percent">-0.34 %</td>

                                </tr>
                                <tr class="positive">
                                    <td>NASDAK</td>
                                    <td><i class="fa fa-sort-up"></i> 234.23</td>
                                    <td class="in_percent">-0.34 %</td>

                                </tr>
                                <tr class="positive">
                                    <td>NASDAK</td>
                                    <td><i class="fa fa-sort-up"></i> 234.23</td>
                                    <td class="in_percent">-0.34 %</td>

                                </tr>
                                <tr class="positive">
                                    <td>NASDAK</td>
                                    <td><i class="fa fa-sort-up"></i> 234.23</td>
                                    <td class="in_percent">-0.34 %</td>

                                </tr>
                                <tr class="negative">
                                    <td>NASDAK</td>
                                    <td><i class="fa fa-sort-down"></i> 234.23</td>
                                    <td class="in_percent">-0.34 %</td>

                                </tr>
                                <tr class="positive">
                                    <td>NASDAK</td>
                                    <td><i class="fa fa-sort-up"></i> 234.23</td>
                                    <td class="in_percent">-0.34 %</td>

                                </tr>
                                <tr class="positive">
                                    <td>NASDAK</td>
                                    <td><i class="fa fa-sort-up"></i> 234.23</td>
                                    <td class="in_percent">-0.34 %</td>

                                </tr>
                                <tr class="positive">
                                    <td>NASDAK</td>
                                    <td><i class="fa fa-sort-up"></i> 234.23</td>
                                    <td class="in_percent">-0.34 %</td>

                                </tr>
                                <tr class="negative">
                                    <td>NASDAK</td>
                                    <td><i class="fa fa-sort-down"></i> 234.23</td>
                                    <td class="in_percent">-0.34 %</td>

                                </tr>
                                <tr class="positive">
                                    <td>NASDAK</td>
                                    <td><i class="fa fa-sort-up"></i> 234.23</td>
                                    <td class="in_percent">-0.34 %</td>

                                </tr>
                                <tr class="negative">
                                    <td>NASDAK</td>
                                    <td><i class="fa fa-sort-down"></i> 234.23</td>
                                    <td class="in_percent">-0.34 %</td>

                                </tr>

                            </tbody>
                        </table>

                </div>

                
                <div class="col-md-6">
                    
                     <table class="table table-hover table-bordered">

                            <tbody>
                                <tr class="negative">
                                    <td>NASDAK</td>
                                    <td><i class="fa fa-sort-down"></i> 234.23</td>
                                    <td class="in_percent">-0.34 %</td>

                                </tr>
                                <tr class="positive">
                                    <td>NASDAK</td>
                                    <td><i class="fa fa-sort-up"></i> 234.23</td>
                                    <td class="in_percent">-0.34 %</td>

                                </tr>
                                <tr class="negative">
                                    <td>NASDAK</td>
                                    <td><i class="fa fa-sort-down"></i> 234.23</td>
                                    <td class="in_percent">-0.34 %</td>

                                </tr>
                                <tr class="positive">
                                    <td>NASDAK</td>
                                    <td><i class="fa fa-sort-up"></i> 234.23</td>
                                    <td class="in_percent">-0.34 %</td>

                                </tr>
                                <tr class="positive">
                                    <td>NASDAK</td>
                                    <td><i class="fa fa-sort-up"></i> 234.23</td>
                                    <td class="in_percent">-0.34 %</td>

                                </tr>
                                <tr class="positive">
                                    <td>NASDAK</td>
                                    <td><i class="fa fa-sort-up"></i> 234.23</td>
                                    <td class="in_percent">-0.34 %</td>

                                </tr>
                                <tr class="negative">
                                    <td>NASDAK</td>
                                    <td><i class="fa fa-sort-down"></i> 234.23</td>
                                    <td class="in_percent">-0.34 %</td>

                                </tr>
                                <tr class="positive">
                                    <td>NASDAK</td>
                                    <td><i class="fa fa-sort-up"></i> 234.23</td>
                                    <td class="in_percent">-0.34 %</td>

                                </tr>
                                <tr class="positive">
                                    <td>NASDAK</td>
                                    <td><i class="fa fa-sort-up"></i> 234.23</td>
                                    <td class="in_percent">-0.34 %</td>

                                </tr>
                                <tr class="positive">
                                    <td>NASDAK</td>
                                    <td><i class="fa fa-sort-up"></i> 234.23</td>
                                    <td class="in_percent">-0.34 %</td>

                                </tr>
                                <tr class="negative">
                                    <td>NASDAK</td>
                                    <td><i class="fa fa-sort-down"></i> 234.23</td>
                                    <td class="in_percent">-0.34 %</td>

                                </tr>
                                <tr class="positive">
                                    <td>NASDAK</td>
                                    <td><i class="fa fa-sort-up"></i> 234.23</td>
                                    <td class="in_percent">-0.34 %</td>

                                </tr>
                                <tr class="positive">
                                    <td>NASDAK</td>
                                    <td><i class="fa fa-sort-up"></i> 234.23</td>
                                    <td class="in_percent">-0.34 %</td>

                                </tr>
                                <tr class="positive">
                                    <td>NASDAK</td>
                                    <td><i class="fa fa-sort-up"></i> 234.23</td>
                                    <td class="in_percent">-0.34 %</td>

                                </tr>
                                <tr class="negative">
                                    <td>NASDAK</td>
                                    <td><i class="fa fa-sort-down"></i> 234.23</td>
                                    <td class="in_percent">-0.34 %</td>

                                </tr>
                                <tr class="positive">
                                    <td>NASDAK</td>
                                    <td><i class="fa fa-sort-up"></i> 234.23</td>
                                    <td class="in_percent">-0.34 %</td>

                                </tr>
                                <tr class="negative">
                                    <td>NASDAK</td>
                                    <td><i class="fa fa-sort-down"></i> 234.23</td>
                                    <td class="in_percent">-0.34 %</td>

                                </tr>

                            </tbody>
                        </table>

                </div>


            </div>
        </div>
    </section>

{% endblock %}
