{% extends "UI/base.html" %} {% load static %} {% block content %}
<section id="market_news">
    <div class="container">
        <h3 class="section_title f-s-30 f-w-100 m-b-30">NEws Title</h3>
        <p class="creation_date">20th May, 2017</p>
        <p class="news_content l-h-27">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente ipsam nihil veritatis error odit laudantium esse, minus
            iure tempora provident obcaecati quia, eius veniam ducimus vel expedita pariatur fugiat ipsum corporis debitis
            laboriosam voluptates. Facere quod ex excepturi consectetur voluptates ab, nisi! Vitae error sapiente recusandae
            deserunt exercitationem maiores rem eligendi perspiciatis tenetur nemo adipisci asperiores sit earum amet facilis
            iusto unde cumque pariatur, modi eveniet, libero expedita. Praesentium fugiat numquam ea cupiditate excepturi
            optio minima adipisci architecto deleniti! Perferendis eligendi error deleniti amet dolor eos, veritatis facere!
            Ab sunt iure, libero, nisi eum earum, nemo nulla quo voluptatem beatae nam illum atque id sit. Iusto quia, nemo
            minima dolorum? Pariatur dolorum nostrum corrupti voluptate commodi voluptas minus minima. Dolorem fugit incidunt
            dolorum similique, beatae possimus aspernatur dolor cum debitis tempora harum voluptas sed officia enim necessitatibus
            voluptatum doloremque iste dolore a quam eaque illum quas. Quis sequi eum quia natus, amet omnis similique eligendi
            sit. Ex suscipit, laudantium, dolor harum, laborum, minus mollitia maiores amet possimus expedita id ea earum.
            Culpa magnam nobis alias exercitationem dolorum, porro, fugit eos consectetur laborum officiis reiciendis dolore
            ipsa, quidem accusantium ipsam ut. Enim labore, dolorum voluptatibus asperiores animi facere pariatur aspernatur
            odit nostrum libero cupiditate quos cumque reiciendis optio nobis, ducimus expedita iure maiores fuga accusamus
            voluptates, necessitatibus eius qui id molestiae! Consequuntur cum unde labore, numquam atque possimus minus,
            odio veritatis beatae, temporibus amet?

        </p>

        
            <p class="news_content l-h-27">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente ipsam nihil veritatis error odit laudantium esse, minus
                iure tempora provident obcaecati quia, eius veniam ducimus vel expedita pariatur fugiat ipsum corporis debitis
                laboriosam voluptates. Facere quod ex excepturi consectetur voluptates ab, nisi! Vitae error sapiente recusandae
                deserunt exercitationem maiores rem eligendi perspiciatis tenetur nemo adipisci asperiores sit earum amet facilis
                iusto unde cumque pariatur, modi eveniet, libero expedita. Praesentium fugiat numquam ea cupiditate excepturi
                optio minima adipisci architecto deleniti! Perferendis eligendi error deleniti amet dolor eos, veritatis facere!
                Ab sunt iure, libero, nisi eum earum, nemo nulla quo voluptatem beatae nam illum atque id sit. Iusto quia, nemo
                minima dolorum? Pariatur dolorum nostrum corrupti voluptate commodi voluptas minus minima. Dolorem fugit incidunt
                dolorum similique, beatae possimus aspernatur dolor cum debitis tempora harum voluptas sed officia enim necessitatibus
                voluptatum doloremque iste dolore a quam eaque illum quas. Quis sequi eum quia natus, amet omnis similique eligendi
                sit. Ex suscipit, laudantium, dolor harum, laborum, minus mollitia maiores amet possimus expedita id ea earum.
                Culpa magnam nobis alias exercitationem dolorum, porro, fugit eos consectetur laborum officiis reiciendis dolore
                ipsa, quidem accusantium ipsam ut. Enim labore, dolorum voluptatibus asperiores animi facere pariatur aspernatur
                odit nostrum libero cupiditate quos cumque reiciendis optio nobis, ducimus expedita iure maiores fuga accusamus
                voluptates, necessitatibus eius qui id molestiae! Consequuntur cum unde labore, numquam atque possimus minus,
                odio veritatis beatae, temporibus amet?

            </p>


    </div>
</section>

{% endblock %}