{% extends "UI/base.html" %}
{% load static %}


{% block content %}
    <section id="market_news"><div class="container">
                        <h3 class="section_title f-s-30 f-w-100 m-b-30">Stock News</h3>

        
        <div class="row">
             <div class="col-md-3 col-sm-3 col-xs-4">
                <div class="post-slide">

                    <div class="post-img">
                        <a href="#"><img src="{% static 'UI/images/img-2.jpg' %}" alt=""></a>
                    </div>

                    <div class="post-content">

                        <h3 class="post-title"><a href="#">Latest News Post</a></h3>


                        <ul class="post-bar">
                            <li>
                                <i class="fa fa-folder"></i>
                                <a href="#">Mockup</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
             <div class="col-md-3 col-sm-3 col-xs-4">
                <div class="post-slide">

                    <div class="post-img">
                        <a href="#"><img src="{% static 'UI/images/img-2.jpg' %}" alt=""></a>
                    </div>

                    <div class="post-content">

                        <h3 class="post-title"><a href="#">Latest News Post</a></h3>


                        <ul class="post-bar">
                            <li>
                                <i class="fa fa-folder"></i>
                                <a href="#">Mockup</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
             <div class="col-md-3 col-sm-3 col-xs-4">
                <div class="post-slide">

                    <div class="post-img">
                        <a href="#"><img src="{% static 'UI/images/img-2.jpg' %}" alt=""></a>
                    </div>

                    <div class="post-content">

                        <h3 class="post-title"><a href="#">Latest News Post</a></h3>


                        <ul class="post-bar">
                            <li>
                                <i class="fa fa-folder"></i>
                                <a href="#">Mockup</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
             <div class="col-md-3 col-sm-3 col-xs-4">
                <div class="post-slide">

                    <div class="post-img">
                        <a href="#"><img src="{% static 'UI/images/img-2.jpg' %}" alt=""></a>
                    </div>

                    <div class="post-content">

                        <h3 class="post-title"><a href="#">Latest News Post</a></h3>


                        <ul class="post-bar">
                            <li>
                                <i class="fa fa-folder"></i>
                                <a href="#">Mockup</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
             <div class="col-md-3 col-sm-3 col-xs-4">
                <div class="post-slide">

                    <div class="post-img">
                        <a href="#"><img src="{% static 'UI/images/img-2.jpg' %}" alt=""></a>
                    </div>

                    <div class="post-content">

                        <h3 class="post-title"><a href="#">Latest News Post</a></h3>


                        <ul class="post-bar">
                            <li>
                                <i class="fa fa-folder"></i>
                                <a href="#">Mockup</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
             <div class="col-md-3 col-sm-3 col-xs-4">
                <div class="post-slide">

                    <div class="post-img">
                        <a href="#"><img src="{% static 'UI/images/img-2.jpg' %}" alt=""></a>
                    </div>

                    <div class="post-content">

                        <h3 class="post-title"><a href="#">Latest News Post</a></h3>


                        <ul class="post-bar">
                            <li>
                                <i class="fa fa-folder"></i>
                                <a href="#">Mockup</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div></section>

{% endblock  %}